*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../formslider/images/pexels-thatguycraig000-1563356.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width: 300px;
     height: 400px;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 5px 1px white;
    overflow: hidden;
}

input{
  color: white; 
  font-size: 16px;
  font-weight: 500;
}

.main form{
    width: 100%;
    padding: 10px 5px;
    position: absolute;
    top: 40px;
    transition: 0.5s;
}
.main form input{
     width: 100%;
    padding: 10px 5px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    margin: 10px 0;
}

.btns{
    display: flex;
    justify-content: space-between;
}
.btns button{
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(45deg, red, yellow);
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.form1{
      left: 0;
}
.form2 ,
.form3{
left: 100%;
}

.progress{
    position: absolute;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
}
.progress div{
    width: 35%;
    text-align: center;
    padding: 14px 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
}
.progressBar{
    position: absolute;
    width: 33%;
    background: linear-gradient(to right, red, yellow);
    height: 100%;
    z-index: 1;
    transition: 0.4s;
}
.progressBar::after{
 content: "";
 width: 0;
 height: 0;
 position: absolute;
 top: 0;
 right: -24px;
 border-top: 25px solid transparent;
 border-bottom: 25px solid transparent;
 border-left: 25px solid yellow;
}