  *{
            margin: 0px;
            padding: 0px;
            font-family: sans-serif;
            box-sizing: border-box;
        }

        .main{
            width: 1320px;
            display: flex;
            margin: auto;
            justify-content: space-between;
        }
        h1{
            text-align: center;
            padding: 40px 0px;
        }
        .filterBox{
            flex-basis: 23%;
        }
        .product{
            flex-basis: 75%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .CategoryList{
            margin-top: 20px;
        }
        .CategoryList label{
            display: block;
            padding: 10px 0px;
        }
        .productItems{
            flex-basis: 31%;
            margin-bottom: 20px;
            box-shadow: 0px 0px 10px 2px #ccc;
        }
        .productItems img{
            width: 100%;
            height: 250px;
        }
        .productItems p{
            padding: 10px;
        }
         .productItems h3{
            padding: 10px;
        }
        .productItems h4{
            padding: 10px;
            border-bottom: 1px solid#ccc;
        }